<%= form_for(@mission) do |f| %>
  <% if @mission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
      <% @mission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
  <div class="field">
    <%= f.label :game %><br>
    <%= f.select :game, [['SMD','SMD'],['GTI','GTI'],['EO','EO'],['RT','RT']] %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :floor %><br>
    <%= f.number_field :floor %>
  </div>
  <div class="field">
    <%= f.label :rescue_link %><br>
    <%= f.url_field :rescue_link %>
  </div>

  <% if !@mission.new_record? %>
  <div class="field">
    <%= f.label :rescued_link %><br>
    <%= f.url_field :rescued_link %>
  </div>
  <% end %>

  <% if !@mission.rescued_link.nil? && !@mission.rescued_link.empty? %>
  <div class="field">
    <%= f.label :thank_you_link %><br>
    <%= f.url_field :thank_you_link %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>

  <% if !@mission.new_record? %>
  <div class="field">
    <%= f.label :progress %> <br>
    <%= f.select :progress, [['Posted',0],['In Progress',1],['Finished',2]]  %>
  </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<script>
document.getElementById('mission_location').required = true;
document.getElementById('mission_level').required = true;
document.getElementById('mission_rescue_link').required = true;
document.getElementById('mission_rescued_link').onclick=function(){finished()};

function finished(){
  document.getElementById('mission_progress').value = 2;
}

</script>

<% end %>
