<%= form_for(@mission) do |f| %>
  <% if @mission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
      <% @mission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
  <div class="field">
    <%= f.label :game %><br>
    <%= f.select :game, [['SMD','SMD'],['GTI','GTI'],['EO','EO'],['RT','RT']] %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :rescue_link %><br>
    <%= f.url_field :rescue_link %>
  </div>

  <% if !@mission.new_record? %>
  <div class="field">
    <%= f.label :rescued_link %><br>
    <%= f.url_field :rescued_link %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <% if !@mission.new_record? %>
  <div class="field">
    <%= f.label :finished %>
    <%= f.check_box :finished %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end %>
