<!-- Makes page refresh every minute -->
<meta http-equiv="refresh" content="60"
<%= auto_discovery_link_tag :rss, missions_url(:format => :rss) %>

<h1 class="text-center">Missions</h1>
<div class="container-responsive table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Game</th>
      <th>Location</th>
      <th>Level</th>
      <th>Rescue</th>
      <th>Rescued</th>
      <th>Notes</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr class="<%= getStatus(mission.progress)%>" >
        <td><%= mission.game %></td>
        <td><%= mission.location %></td>
        <td><%= mission.level %></td>
        <td><a href="<%= mission.rescue_link %>"><%= check_link(mission.rescue_link) %></a></td>
        <td><a href="<%= mission.rescued_link %>"><%= check_link(mission.rescued_link) %></a></td>
        <td><%= mission.notes %></td>
        <td><%= link_to 'Show', mission %></td>
        <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
        <!--<td><%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="text-center"><%= will_paginate @books %> 
  <i> <%= link_to 'RSS', missions_url(:format => :rss) %> </i> </div>

<div class="text-center">
<form action="<%= new_mission_path %>">
    <input class="btn btn-primary" type="submit" value="Get Help!">
</form>
<br>
<p><i>Page automatically refreshes every 60 seconds</p></i>
</div>

