
<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @mission.game %>
</p>

<p>
  <strong>Location:</strong>
  <%= @mission.location %>
</p>

<p>
  <strong>Level:</strong>
  <%= @mission.level %>
</p>

<p>
  <strong>Rescue link:</strong>
  <a href="<%= @mission.rescue_link %>"><%= check_link(@mission.rescue_link)%></a>
</p>

<p>
  <strong>Rescued link:</strong>
  <a href="<%= @mission.rescued_link %>"><%= check_link(@mission.rescued_link) %></a>
</p>

<% if !@mission.rescued_link.nil? && !@mission.rescued_link.empty? %>
<p>
  <strong>Thank you link:</strong>
  <a href="<%= @mission.thank_you_link %>"><%= check_link(@mission.thank_you_link) %></a>
</p>
<% end %>
<p>
  <strong>Notes:</strong>
  <%= @mission.notes %>
</p>

<p>
  <strong>Progress:</strong>
  <%= getProgress(@mission.progress) %>
</p>
<script>
if (<%= @mission.progress %> == 1) {
  document.getElementsByClassName("container-fluid")[0].style.backgroundColor = "#FFD561";
} else if (<%= @mission.progress %> == 2){
  document.getElementsByClassName("container-fluid")[0].style.backgroundColor = "#61FF86";
}
</script>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
