
<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @mission.game %>
</p>

<p>
  <strong>Location:</strong>
  <%= @mission.location %>
</p>

<p>
  <strong>Level:</strong>
  <%= @mission.level %>
</p>

<p>
  <strong>Rescue link:</strong>
  <a href="<%= @mission.rescue_link %>"><%= check_link(@mission.rescue_link)%></a>
</p>

<p>
  <strong>Rescued link:</strong>
  <a href="<%= @mission.rescued_link %>"><%= check_link(@mission.rescued_link) %></a>
</p>

<p>
  <strong>Notes:</strong>
  <%= @mission.notes %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @mission.finished %>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
